/* Website under construction */
/* COLOR VARIABLES */
/* 
Roadmap colors
#91DF50

#58AD11

#036FE0 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: calc((0.0029411764705882 * 100vw) + 6.3529411764706px);
  /*

  font-size: calc((0.0029411764705882 * 100vw) + 6.3529411764706px);
        1920, 12
        1495, 10.75
        1070, 9.5
        645, 8.25
        220, 7
    */
  /* This curve has a medium of 9.5px and is an experimental attempt
    to make the root font size fluidly responsive instead of making
    it change with media queries at certain breakpoints. */
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Titillium', sans-serif;
  line-height: 1.7;
  color: #3a3e41;
  overflow-x: hidden;
  position: relative;
}

html,
body {
  height: 100%;
}

main {
  position: relative;
}

.heading-1 {
  font-size: calc((0.017857142857143 * 100vw) + 24.285714285714px);
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
  /* 2000, 60
    1650, 53.75
    1300, 47.5
    950, 41.25
    600, 35 */
  /* @include respond(phone) {
        font-size: 5rem;
    } */
}

@media only screen and (max-aspect-ratio: 70 / 71) and (min-width: 37.5em) {
  .heading-1--vw {
    font-size: 8vw;
  }
}

.heading-2 {
  font-size: calc((0.0071428571428571 * 100vw) + 15.714285714286px);
  font-weight: 300;
  line-height: 1;
  /* 2000, 30
    1650, 27.5
    1300, 25
    950, 22.5
    600, 20 */
  /* @include respond(phone) {
        font-size: 2.5rem;
    } */
}

@media only screen and (max-aspect-ratio: 70 / 71) and (min-width: 37.5em) {
  .heading-2--vw {
    font-size: 4vw;
  }
}

.heading-3 {
  text-transform: uppercase;
  font-weight: 600;
}

.heading-4 {
  font-size: 2.5rem;
  font-weight: 300;
}

.heading-5 {
  font-size: 2rem;
  font-weight: 300;
}

.heading-title {
  font-size: 5rem;
  text-transform: uppercase;
}

.heading-title-small {
  font-size: 2rem;
  font-weight: 600;
}

/* Layout */
.u-margin-top-special {
  margin-top: 12rem !important;
}

.u-margin-top-normal {
  margin-top: 5rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-padding-bottom-medium {
  padding-bottom: 5rem !important;
}

/* Text */
.u-text-600 {
  font-weight: 600 !important;
}

.u-text-em {
  font-style: italic !important;
}

/* PROGRESS BAR ANIMATION */
@-webkit-keyframes progress-bar {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 3rem;
  }
}
@keyframes progress-bar {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 3rem;
  }
}

/* DECORATIVE SHAPES */
.shape-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.shape-big {
  position: absolute;
  width: 80%;
  top: 0;
  right: 0;
  -webkit-transform: translate(20%, -70%);
          transform: translate(20%, -70%);
}

@media only screen and (max-aspect-ratio: 70 / 71) {
  .shape-big {
    -webkit-transform: translate(20%, -55%);
            transform: translate(20%, -55%);
  }
}

.shape-small {
  position: absolute;
  width: 30%;
  bottom: calc((0.05 * 100vh) - 50px);
  left: 0;
  -webkit-transform: translate(-10%, 50%);
          transform: translate(-10%, 50%);
}

@media only screen and (max-aspect-ratio: 70 / 71) {
  .shape-small {
    width: 50%;
    -webkit-transform: translate(-10%, 40%);
            transform: translate(-10%, 40%);
  }
}

.shape {
  width: 100%;
}

/* SOCIAL ICONS */
.social-icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #fff;
  position: relative;
  z-index: 10;
  -webkit-transition: fill .1s .3s;
  transition: fill .1s .3s;
}

/* SOCIAL LINKS */
.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: relative;
}

.social-link::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-link:hover::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.social-link:hover .social-icon--facebook {
  fill: #3B5998;
}

.social-link:hover .social-icon--twitter {
  fill: #1DA1F2;
}

.social-link:hover .social-icon--github {
  fill: #333;
}

/* MOBILE SOCIAL ICONS */
.mobile-social-icon {
  width: 4rem;
  height: 4rem;
}

.mobile-social-icon--facebook {
  fill: #3B5998;
}

.mobile-social-icon--twitter {
  fill: #1DA1F2;
}

.mobile-social-icon--github {
  fill: #333;
}

@media only screen and (max-aspect-ratio: 70 / 71) and (min-height: 37.5em) {
  .mobile-social-icon {
    width: 8vw;
    height: 8vw;
  }
}

/* PAGE TITLE */
.title {
  text-align: center;
}

/* CONTAINER */
.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

/* GENERAL LINK */
.link,
.link:link,
.link:visited {
  text-decoration: none;
  color: #009AFF;
}

/* FORM STYLING */
.contact__form {
  max-width: 80rem;
  width: 80%;
  margin: 0 auto;
}

.contact__input, .contact__textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid #3a3e41;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
}

.contact__input {
  height: 3rem;
}

.contact__textarea {
  resize: none;
  min-height: 16rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: .6rem 3.5rem;
  border-radius: 3px;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}

@media only screen and (max-aspect-ratio: 70 / 71) and (min-width: 37.5em) {
  .btn--vw,
  .btn--vw:link,
  .btn--vw:visited {
    padding: 1vw 5vw;
    border-radius: .6vw;
    font-size: 2vw;
  }
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  background-color: #009AFF;
  color: #fff;
  border: 1px solid #009AFF;
}

.btn--primary:hover,
.btn--primary:link:hover,
.btn--primary:visited:hover {
  background-color: #fff;
  color: #009AFF;
}

.btn--normal,
.btn--normal:link,
.btn--normal:visited {
  color: #3a3e41;
  border: 1px solid #3a3e41;
}

.btn--normal:hover,
.btn--normal:link:hover,
.btn--normal:visited:hover {
  background-color: #3a3e41;
  color: #fff;
}

.skills__title {
  margin-bottom: 1.5rem;
}

.skills__skill-box:not(:last-child) {
  margin-bottom: 2rem;
}

.skills__skill-name {
  text-align: right;
  margin-bottom: .5rem;
}

.skills__skill-bar {
  background-color: #ccc;
  width: 100%;
  max-width: 80rem;
  height: 3rem;
  margin-left: auto;
  border-radius: .5rem;
}

.skills__skill-bar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2%;
  height: 100%;
  background-size: 3rem 100%;
}

.skills__skill-bar-content--100 {
  width: 100%;
  border-radius: inherit;
  background-color: #05C46B;
  background-image: linear-gradient(135deg, #0BE881 0%, #0BE881 25%, transparent 25%, transparent 50%, #0BE881 50%, #0BE881 75%, transparent 75%, transparent 100%);
  -webkit-animation: progress-bar 2s linear infinite;
          animation: progress-bar 2s linear infinite;
}

.skills__skill-bar-content--90 {
  width: 90%;
  background-color: #0FBCF9;
  background-image: linear-gradient(135deg, #4BCFFA 0%, #4BCFFA 25%, transparent 25%, transparent 50%, #4BCFFA 50%, #4BCFFA 75%, transparent 75%, transparent 100%);
  -webkit-animation: progress-bar 1s linear infinite;
          animation: progress-bar 1s linear infinite;
}

.skills__skill-bar-content--70 {
  width: 70%;
  min-width: 5rem;
  background-color: #FFA801;
  background-image: linear-gradient(135deg, #FFC048 0%, #FFC048 25%, transparent 25%, transparent 50%, #FFC048 50%, #FFC048 75%, transparent 75%, transparent 100%);
  -webkit-animation: progress-bar .7s linear infinite;
          animation: progress-bar .7s linear infinite;
}

.skills__skill-bar-content--90, .skills__skill-bar-content--70 {
  border-radius: .5rem 0 0 .5rem;
}

.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header__grid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-aspect-ratio: 70 / 71) {
  .header__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 75em) {
  .header__grid {
    width: 90%;
  }
}

.header__illustration {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 100%;
  max-height: 100%;
}

.header__content {
  min-width: 30rem;
  width: 100%;
  max-width: 60vw;
}

.header__subheading {
  margin-top: 2rem;
  /* max-width: 80%; */
}

.header__buttons {
  margin-top: 3rem;
}

.header__buttons *:first-child {
  margin-right: 2rem;
}

.navigation {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .navigation {
    padding: 2rem 3rem 0 3rem;
  }
}

.navigation__logo-box {
  width: 3.5rem;
}

.navigation__logo {
  width: 100%;
  -webkit-transition: -webkit-filter .3s, -webkit-transform .3s;
  transition: -webkit-filter .3s, -webkit-transform .3s;
  transition: filter .3s, transform .3s;
  transition: filter .3s, transform .3s, -webkit-filter .3s, -webkit-transform .3s;
  cursor: pointer;
}

.navigation__logo:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
  -webkit-transform: scale(1.05) translateY(-3px);
          transform: scale(1.05) translateY(-3px);
}

.navigation__logo:active {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transform: scale(1.02) translateY(-1px);
          transform: scale(1.02) translateY(-1px);
}

.navigation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .navigation__content {
    display: none;
  }
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__element {
  position: relative;
}

.navigation__element::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 12px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.navigation__element:hover::after {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.navigation__element:not(:last-child) {
  margin: 0 1rem;
}

.navigation__element:last-child {
  margin-left: 1rem;
}

.navigation__link, .navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}

.navigation__socials {
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__socials .social-icon {
  margin: 0 1rem;
}

.navigation__hamburger {
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .navigation__hamburger {
    display: block;
  }
}

.navigation__hamburger-line {
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.navigation__hamburger-line::before, .navigation__hamburger-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  position: absolute;
}

.navigation__hamburger-line::before {
  bottom: 6px;
}

.navigation__hamburger-line::after {
  top: 6px;
}

/* MOBILE MENU */
@media only screen and (min-width: 56.25em) {
  .mobile,
  .mobile__label {
    display: none;
  }
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: opacity 0s .7s, visibility 0s .7s, -webkit-transform .5s .2s ease-out;
  transition: opacity 0s .7s, visibility 0s .7s, -webkit-transform .5s .2s ease-out;
  transition: transform .5s .2s ease-out, opacity 0s .7s, visibility 0s .7s;
  transition: transform .5s .2s ease-out, opacity 0s .7s, visibility 0s .7s, -webkit-transform .5s .2s ease-out;
}

.mobile__checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.mobile__close-btn {
  display: block;
  position: absolute;
  right: 8.5%;
  top: 7%;
  cursor: pointer;
}

.mobile__close-btn-line {
  width: 15px;
  height: 1px;
  background-color: #3a3e41;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile__close-btn-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.mobile__logo-box {
  width: 5rem;
  margin-top: 4rem;
}

@media only screen and (max-aspect-ratio: 70 / 71) and (min-height: 37.5em) {
  .mobile__logo-box {
    width: 10vw;
    margin-top: 15vw;
  }
}

.mobile__logo {
  width: 100%;
}

.mobile__list {
  list-style: none;
  text-align: center;
}

@media only screen and (max-height: 26.25em) and (min-aspect-ratio: 71 / 70) {
  .mobile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__list .mobile__element {
    margin: 0 2rem;
  }
}

.mobile__element {
  margin: 2rem 0;
}

.mobile__link, .mobile__link:link, .mobile__link:visited {
  text-decoration: none;
  color: #009AFF;
  text-transform: uppercase;
  font-size: 3rem;
}

@media only screen and (max-aspect-ratio: 70 / 71) and (min-height: 37.5em) {
  .mobile__link, .mobile__link:link, .mobile__link:visited {
    font-size: 8vw;
  }
}

.mobile__social-icons {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__social-icons > *:not(:first-child),
.mobile__social-icons > *:not(:last-child) {
  margin: 0 1.5rem;
}

.mobile__checkbox:checked ~ .mobile {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

.mobile__checkbox:checked ~ .mobile .mobile__content {
  opacity: 1;
  -webkit-transition: opacity .3s .5s;
  transition: opacity .3s .5s;
}

.portfolio {
  max-width: 120rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (35rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 35rem);
  grid-column-gap: 3rem;
  grid-row-gap: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.portfolio__entry:hover .portfolio__image::after,
.portfolio__entry:hover .portfolio__icon {
  visibility: visible;
  opacity: 1;
}

.portfolio__image {
  position: relative;
  width: 100%;
  height: 17.37rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__image--square {
  background-image: url(/img/square.png);
}

.portfolio__image--olios {
  background-image: url(/img/olios.png);
}

.portfolio__image--mars {
  background-image: url(/img/mars.png);
}

.portfolio__image--gratia {
  background-image: url(/img/gratia.png);
}

.portfolio__image--westa {
  background-image: url(/img/westa.jpg);
}

.portfolio__image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.portfolio__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.portfolio__link, .portfolio__link:link, .portfolio__link:visited {
  text-decoration: none;
  color: inherit;
}

.portfolio__title {
  margin-top: 1rem;
  text-align: center;
}

.portfolio__description {
  font-weight: 300;
}

.footer {
  padding: 4rem;
  font-size: 1.2rem;
  text-align: center;
}

.page-portfolio__portfolio {
  margin: 5rem 0;
}

.about__heading {
  padding: 0 10%;
}

.about__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-column-gap: 5%;
  grid-row-gap: 5rem;
}

@media only screen and (max-width: 36.25em) {
  .about__grid {
    -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

@media only screen and (max-width: 75em) {
  .about__grid > * {
    padding: 0 2rem;
  }
}

.about__about-paragraph:not(:last-child) {
  margin-bottom: 1rem;
}

.about__title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about__title--right {
  text-align: right;
}

.about__skills-bottom {
  margin-top: 2.5rem;
}
/*# sourceMappingURL=style.css.map */