/* COLOR VARIABLES */

//Primary colors
$color-primary: #009AFF;
$color-primary-2: #0045BD; //Candidato secondary dark
$color-primary-3: #00FFFF; //Cos'è sta roba?
$color-primary-4: #00158B; //Forse qualche testo
$color-primary-5: #5A95FF; //Mi manca un light e questo non mi piace
$color-primary-6: #00005F; //Qualche testo forse
$color-primary-7: #002AAF; //Candidato secondary dark

//Accents
$color-accent: #FFC60B; //Mancano light e dark (?) oppure usare la regola del button

//Grayscale