/* COLOR VARIABLES */

//Primary colors
$color-primary: #009AFF;
$color-primary-2: #0045BD; //Candidato secondary dark
$color-primary-3: #00FFFF; //Cos'è sta roba?
$color-primary-4: #00158B; //Forse qualche testo
$color-primary-5: #5A95FF; //Mi manca un light e questo non mi piace
$color-primary-6: #00005F; //Qualche testo forse
$color-primary-7: #002AAF; //Candidato secondary dark

$color-text-nome-provvisorio: #661414;
//Accents
$color-accent: #FFC60B; //Mancano light e dark (?) oppure usare la regola del button

//Varius colors

$color-green: #05C46B;
$color-green-light: #0BE881;

$color-sky: #0FBCF9;
$color-sky-light: #4BCFFA;

$color-yellow: #FFA801;
$color-yellow-light: #FFC048;

//Grayscale

$color-gray-dark: rgb(58, 62, 65);
$color-gray: #ccc;

/* 
Roadmap colors
#91DF50

#58AD11

#036FE0 */