.header {
    position: relative;
    height: 100vh;
    background-image: url(/img/bg.svg);
    background-size: auto 100vh;
    background-position: calc((0.13414634146341 * 100vw) + 32.439024390244px);
    background-repeat: no-repeat;

    /* I got this SVG and I like it so much. Unfortunately it isn't very versatile
    and so I managed it in a creative way: every screen size gets a different color */

    @media only screen and (min-aspect-ratio: 359 / 162) { //Fix when height gets too small relatively to the width
        background-position: right;
    }

    &__content {
        position: absolute;
        left: 7%;
        top: 30%;
        padding: 0 2rem;

        @include respond(tab-port) {
            top: 25%;
        }

        @media only screen and (max-aspect-ratio: 70/71) { //Targets portrait mode
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            width: 80%;
        }

        @media only screen and (max-width: 56.25em) and (min-aspect-ratio: 71/40) { //Targets mobile landscape
            left: 3vw;
            top: 23%;
        }

        @media only screen and (aspect-ratio: 71/40) { //Targets iPhone 5/SE
            top: 20%;
        }
    }

    &__subheading {
        margin-top: 1rem;
    }

    &__buttons {
        margin-top: 5rem;

        & > *:last-child {
            margin-left: 2rem;
        }
        
        @include respond(tab-land) {
            margin-top: 3rem;
        }
    }
}