.navigation {

    &__checkbox {
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }

    &__label {
        display: block;
        width: 3.5rem;
        margin: 0 auto;
        padding-top: 3rem;
        position: relative;

        cursor: pointer;
    }

    &__logo {
        width: 100%;
        position: relative;
        z-index: 1;
        transition: filter .3s;

        &:hover {
            filter: drop-shadow( 5px 3px 5px rgba(0, 0, 0, .2));
            animation: logo-hover 1.2s infinite;
        }
    }
}