.navigation {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    position: relative;
    z-index: 1;

    @include respond(tab-land) {
        padding: 2rem 3rem 0 3rem;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-box {
        width: 3.5rem;
    }

    &__logo {
        width: 100%;
        transition: filter .3s, transform .3s;
        cursor: pointer;

        &:hover {
            filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, .2));
            transform: scale(1.05) translateY(-3px);
        }

        &:active {
            filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, .1));
            transform: scale(1.02) translateY(-1px);
        }
    }

    &__content {
        display: flex;
        align-items: center;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__list {
        list-style: none;
        display: flex;
    }

    &__element {
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 12px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) scale(0);
            transition: transform .3s;
        }

        &:hover::after {
            transform: translateX(-50%) scale(1);
        }
    }

    &__element:not(:last-child) {
        margin: 0 1rem;
    }

    &__element:last-child {
        margin-left: 1rem;
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: #fff;
        font-size: 1.8rem;
    }

    &__socials {
        margin-left: 5rem;

        display: flex;
        align-items: center;

        .social-icon {
            margin: 0 1rem;
        }
    }

    &__hamburger {
        cursor: pointer;

        display: none;

        @include respond(tab-port) {
            display: block;
        }
    }

    &__hamburger-line {
        width: 20px;
        height: 2px;
        border-radius: 10px;
        background-color: #fff;
        position: relative;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: inherit;
            border-radius: inherit;
            position: absolute;
        }

        &::before {
            bottom: 6px;
        }

        &::after {
            top: 6px;
        }
    }
}

/* MOBILE MENU */
.mobile,
.mobile__label {

    @media only screen and (min-width: 56.25em) {
        display: none;
    }
}
.mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    visibility: hidden;
    opacity: 0;
    transform: translateX(100vw);
    transition: transform .5s .2s ease-out, opacity 0s .7s, visibility 0s .7s;

    &__checkbox {
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }

    &__close-btn {
        display: block;
        position: absolute;
        right: 8.5%;
        top: 7%;
        cursor: pointer;
    }

    &__close-btn-line {
        width: 15px;
        height: 1px;
        background-color: $color-gray-dark;
        transform: rotate(45deg);

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: inherit;
            transform: rotate(90deg);
        }
    }

    &__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        opacity: 0;
        transition: opacity .2s;
    }

    &__logo-box {
        width: 5rem;
        margin-top: 4rem;

        @media only screen and (max-aspect-ratio: 70/71) and (min-height: 37.5em) {
            width: 10vw;
            margin-top: 15vw;
        }
    }

    &__logo {
        width: 100%;
    }

    &__list {
        list-style: none;
        text-align: center;

        @media only screen and (max-height: 26.25em) and (min-aspect-ratio: 71/70) {
            display: flex;
            justify-content: center;
            align-items: center;

            & .mobile__element {
                margin: 0 2rem;
            }
        }
    }

    &__element {
        margin: 2rem 0;
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-primary;
        text-transform: uppercase;
        font-size: 3rem;

        @media only screen and (max-aspect-ratio: 70/71) and (min-height: 37.5em) {
            font-size: 8vw;
        }
    }

    &__social-icons {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;

        & > *:not(:first-child),
        & > *:not(:last-child) {
            margin: 0 1.5rem;
        }
    }
}

//Checkbox hack
.mobile__checkbox:checked ~ .mobile {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform .5s ease-in;

    .mobile__content {
        opacity: 1;
        transition: opacity .3s .5s;
    }
}