.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: .6rem 3.5rem;
    border-radius: 3px;
    transition: color .3s, background-color .3s;
}

.btn--special,
.btn--special:link,
.btn--special:visited {

    @media only screen and (max-aspect-ratio: 70/71) {
        padding: 1.2vw 7vw;
        border-radius: .6vw;
        font-size: 3vw;
    }
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
    background-color: $color-accent;
    color: #fff;
    border: 1px solid $color-accent;

    &:hover {
        background-color: #fff;
        color: $color-accent;
    }
}

.btn--normal,
.btn--normal:link,
.btn--normal:visited {
    color: #000;
    border: 1px solid #000;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}