.skills {

    &__title {
        margin-bottom: 1.5rem;
    }

    &__skill-box {

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__skill-name {
        text-align: right;
        margin-bottom: .5rem;
    }

    &__skill-bar {
        background-color: $color-gray;
        width: 100%;
        max-width: 80rem;
        height: 3rem;
        margin-left: auto;
        border-radius: .5rem;
    }

    &__skill-bar-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2%;
        height: 100%;
        background-size: 3rem 100%;

        &--100 {
            width: 100%;
            border-radius: inherit;
            background-color: $color-green;
            background-image: linear-gradient(135deg, $color-green-light 0%,
                                              $color-green-light 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              $color-green-light 50%,
                                              $color-green-light 75%,
                                              transparent 75%,
                                              transparent 100%);
            
            animation: progress-bar 2s linear infinite;
        }

        &--90 {
            width: 90%;
            background-color: $color-sky;
            background-image: linear-gradient(135deg, $color-sky-light 0%,
                                              $color-sky-light 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              $color-sky-light 50%,
                                              $color-sky-light 75%,
                                              transparent 75%,
                                              transparent 100%);
            
            animation: progress-bar 1s linear infinite;
        }

        &--70 {
            width: 70%;
            min-width: 5rem;
            background-color: $color-yellow;
            background-image: linear-gradient(135deg, $color-yellow-light 0%,
                                              $color-yellow-light 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              $color-yellow-light 50%,
                                              $color-yellow-light 75%,
                                              transparent 75%,
                                              transparent 100%);
            
            animation: progress-bar .7s linear infinite;
        }

        &--90,
        &--70 {
            border-radius: .5rem 0 0 .5rem;
        }
    }
}