*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: calc((0.0029411764705882 * 100vw) + 6.3529411764706px);

    @include respond(phone) {
        font-size: 50%;
    }
  /*

  font-size: calc((0.0029411764705882 * 100vw) + 6.3529411764706px);
        1920, 12
        1495, 10.75
        1070, 9.5
        645, 8.25
        220, 7
    */
  /* This curve has a medium of 9.5px and is an experimental attempt
    to make the root font size fluidly responsive instead of making
    it change with media queries at certain breakpoints. */
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Titillium', sans-serif;
    line-height: 1.7;
    color: $color-gray-dark;
    overflow-x: hidden;
    position: relative;
}

html,
body {
    height: 100%;
}

main {
    position: relative;
}