/* Layout */

.u-margin-top-special {margin-top: 12rem !important;}
.u-margin-top-normal {margin-top: 5rem !important;}
.u-margin-top-small {margin-top: 2rem !important;}

.u-padding-bottom-medium {padding-bottom: 5rem !important;}

/* Text */
.u-text-600 {font-weight: 600 !important;}

.u-text-em {font-style: italic !important;}